*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$white: #ffffff;
$dark: #333333;
$gray: #dddddd;
$violet: #6969d1;
$dark-violet: #5050ba;
$light-violet: #b9b9ed;

$desktop-resolution: 461px;

@mixin bold-28 {
  font-weight: bold;
  font-size: 28px;
}
@mixin regular-22 {
  font-size: 22px;
  font-weight: normal;
}
@mixin bold-22 {
  font-weight: bold;
  font-size: 22px;
}
@mixin regular-14 {
  font-size: 14px;
  font-weight: normal;
}
@mixin bold-14 {
  font-weight: bold;
  font-size: 14px;
}

.App {
  background-color: $dark-violet;
  .background {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    display: none;
    @media only screen and (min-width: $desktop-resolution) {
      display: block;
    }
  }
  button {
    cursor: pointer;
  }
  .button-animation {
    padding: 15px;
    margin: 5px;
    display: none;
    position: absolute;
    @media only screen and (min-width: $desktop-resolution) {
      display: block;
    }
  }
  .active-btn {
    background-color: $dark-violet;
  }
  .minicart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 460px;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    @media only screen and (min-width: $desktop-resolution) {
      width: 36%;
      min-width: 460px;
      max-width: 520px;
    }
    .section {
      font-family: Arial;
      .button-x {
        border: none;
        background-color: inherit;
        @include regular-22;
      }
    }
    .section-header {
      height: 10vh;
      display: flex;
      justify-content: space-between;
      border: 1px $gray solid;
      padding: 20px 10px;
      align-items: center;
      z-index: 1;
      position: relative;
      background-color: $white;
    }
    .section-list {
      background-color: $white;
      overflow: auto;
      height: 70vh;
      .products-list {
        background-color: $white;
        li {
          border: 1px $gray solid;
          .product-info {
            display: flex;
            & > * {
              padding: 10px;
            }
            .product-info-text {
              & > * {
                margin-bottom: 5px;
              }
              span {
                color: $light-violet;
              }
              .product-name {
                @include regular-22;
              }
            }
            .button-container {
              margin-left: auto;
            }
          }
          .product-summary {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px 0;
            .quantity-counter-container {
              display: flex;
              align-items: center;
              @media only screen and (min-width: $desktop-resolution) {
                padding-left: 114px;
              }
              & > * {
                margin: 2px;
              }
              .quantity-counter-button {
                display: flex;
                border: 1px $gray solid;
                border-radius: 4px;
                width: 110px;
                height: 30px;
                overflow: hidden;
                button {
                  border: none;
                  width: 30px;
                  height: 30px;
                  color: $white;
                  overflow: hidden;
                }
                .button-left {
                  border-radius: 3px 0 0 3px;
                }
                .button-right {
                  border-radius: 0 3px 3px 0;
                }
                .qty-field {
                  width: 50px;
                  height: 30px;
                  text-align: center;
                  border: none;
                  border-bottom: 1px $gray solid;
                  @include regular-14;
                }
              }
            }
            .prices-container {
              display: flex;
              flex-direction: column;
              width: 143px;
              align-items: flex-end;
              @include bold-14;
              .old-price {
                color: $light-violet;
                text-decoration: line-through;
              }
            }
          }
        }
      }
      .recommended-products-subsection {
        background-color: $light-violet;
        .recommended-products-header {
          padding: 15px 0 0 15px;
        }
        .recommended-products {
          overflow: hidden;
          background-color: $light-violet;
          @include bold-14;
          @media only screen and (min-width: $desktop-resolution) {
            display: flex;
            justify-content: center;
          }
          .recommended-product {
            display: flex;
            background-color: $white;
            margin: 15px;
            padding: 10px;
            @media only screen and (min-width: $desktop-resolution) {
              flex-direction: column;
            }
            .product-img-container {
              .product-img {
                @media only screen and (min-width: $desktop-resolution) {
                  width: 200px;
                  height: 100px;
                }
              }
            }
            .recommended-info {
              margin-left: 10px;
              .recommended-product-title {
                width: 170px;
                height: 48px;
              }
              .price-and-button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;
              }
              .button-add-container {
                .button-add {
                  color: $white;
                  background-color: $violet;
                  border: none;
                  border-radius: 4px;
                  padding: 5px 20px;
                }
              }
            }
          }
        }
      }
    }
    .section-summary {
      border-top: 1px $gray solid;
      display: flex;
      flex-direction: column;
      height: 20vh;
      justify-content: center;
      background-color: $white;
      border: 1px $gray solid;
      .section-summary-text {
        justify-content: space-around;
        & > * {
          margin: 10px;
        }
        .shipping {
          display: flex;
          justify-content: space-between;
          @include regular-22;
        }
        .order-total {
          display: flex;
          justify-content: space-between;
          @include bold-22;
        }
      }
      .button-container {
        display: flex;
        justify-content: center;
        .button-checkout {
          background-color: $violet;
          color: $white;
          padding: 7px 80px;
          border: none;
          @include bold-22;
          @media only screen and (min-width: $desktop-resolution) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
.animation-slide-in {
  animation: slide-in 2s;
  animation-fill-mode: forwards;
}
.animation-slide-out {
  animation: slide-out 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-110%);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(-110%);
  }

  to {
    transform: translateY(0%);
  }
}
